{% block sw_cms_block_image_multiple_grid_preview %}
    <div class="sw-cms-preview-image-multiple-grid">
            <div class="sw-cms-block-image-multiple-grid__top">
                <img :src="'/administration/static/img/cms/preview_mountain_large.jpg' | asset">
            </div>
            <div class="sw-cms-block-image-multiple-grid__left-bottom">
                <img :src="'/administration/static/img/cms/preview_mountain_large.jpg' | asset">
            </div>
             <div class="sw-cms-block-image-multiple-grid__right-bottom">
                <img :src="'/administration/static/img/cms/preview_mountain_large.jpg' | asset">
            </div>
            <div class="sw-cms-block-image-multiple-grid__left-top">
                <img :src="'/administration/static/img/cms/preview_mountain_large.jpg' | asset">
            </div>
            <div class="sw-cms-block-image-multiple-grid__right-top">
                <img :src="'/administration/static/img/cms/preview_mountain_large.jpg' | asset">
            </div>
             <div class="sw-cms-block-image-multiple-grid__bottom">
                <img :src="'/administration/static/img/cms/preview_mountain_large.jpg' | asset">
            </div>
    </div>
{% endblock %}


