{% block sw_cms_block_hero_preview %}
	<div class="sw-cms-preview-hero">
		<div class="sw-cms-preview-hero__content">
			<div class="sw-cms-preview-hero__image">
				<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
			</div>
			<div class="sw-cms-preview-hero__title">
				{# burası admin category altındaki itemler için #}
				<h2>Present your restaurant in full colors</h2>
			</div>
			<div class="sw-cms-preview-hero__subtitle">
				<p>Professional interior and food photos can increase your reservations by 30%</p>
			</div>
			<div class="sw-cms-preview-hero__button">
				<a>Get started now</a>
			</div>
		</div>
	</div>
{% endblock %}
