.sw-cms-block-center-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;

    .sw-cms-slot {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }

    button {
        background: rgb(104, 181, 171);
        border: none;
        color: #fff;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 50px;
        margin-top: 12px;
        font-size: 14px;
        font-weight: 700;
    }
}
