$sw-color-brand-primary: #ef8960;
$bg-color: #ffffff;
$text-hero-color: #ffffff;
$text-button-color: #ffffff;
$sw-color-brand-primary-dark: #eb6a38;
$sw-color-header: #000000;
$sw-color-footer-menu: rgba(255, 255, 255, 0.9);
$sw-color-footer-button-text: rgba(255, 255, 255, 0.7);
$sw-color-footer-copyright: rgba(255, 255, 255, 0.5);
$sw-color-underline: #22bb77;
$sw-color-border-bottom: #eaeaea;
$sw-color-button-active: #ea6532;
$sw-color-border-active: #e95d26;

$theme-asset-path:'/bundles/photoshoot/assets';