{% block sw_cms_block_image_card_preview %}
	<div class="sw-cms-preview-image-card">
		<div class="sw-cms-preview-image-card__left">
			<div class="sw-cms-preview-image-card__image">
				<img :src="'/administration/static/img/cms/preview_mountain_large.jpg' | asset">
			</div>
			<div class="sw-cms-preview-image-card__text">
				<h3>Lorem ipsum</h3>
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum</p>
				<a>Button</a>
			</div>
		</div>
		<div class="sw-cms-preview-image-card__center">
			<div class="sw-cms-preview-image-card__image">
				<img :src="'/administration/static/img/cms/preview_mountain_large.jpg' | asset">
			</div>
			<div class="sw-cms-preview-image-card__text">
				<h3>Lorem ipsum</h3>
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum</p>
				<a>Button</a>
			</div>
		</div>
		<div class="sw-cms-preview-image-card__right">
			<div class="sw-cms-preview-image-card__image">
				<img :src="'/administration/static/img/cms/preview_mountain_large.jpg' | asset">
			</div>
			<div class="sw-cms-preview-image-card__text">
				<h3>Lorem ipsum</h3>
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum</p>
				<a>Button</a>
			</div>
		</div>
	</div>
{% endblock %}
