{% block sw_cms_block_three_text_column %}
    <div class="sw-cms-block-three-text-column">
        <slot name="left"></slot>
        <slot name="center"></slot>
        <slot name="right"></slot>
    </div>
{% endblock %}
